
@model IEnumerable<MusicStore.Models.Album>

@{
	ViewData["Title"] = "Albums";
}

<h2>Overzicht albums</h2>

<ul class="row" id="album-list">
	@foreach (var album in Model)
	{
		<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
			<a asp-controller="Store" asp-action="Details" asp-route-id="@album.AlbumID">
				<img alt="@album.Title" src="@Url.Content("~/content/"+album.AlbumArtUrl)" height="125" width="125" />
				<h4>@album.Title</h4>
			</a>
		</li>
	}


	@*@model IEnumerable<MusicStore.Models.Album>

		@{
			ViewData["Title"] = "ListAlbums";
			Layout = "~/Views/Shared/_Layout.cshtml";
		}

		<h2>ListAlbums</h2>

		<p>
			<a asp-action="Create">Create New</a>
		</p>
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Title)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Price)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.AlbumArtUrl)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Genre)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Artist)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AlbumArtUrl)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Genre.GenreID)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Artist.ArtistID)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.AlbumID">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.AlbumID">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.AlbumID">Delete</a>
					</td>
				</tr>
		}
			</tbody>
		</table>*@
