@model IEnumerable<MusicStore.Models.Album>

@{
	ViewData["Title"] = "Home Page";
}

<br />

<div class="jumbotron" style="background-color:lightblue">
	<div class="container">
		<div class="row well well-lg">
			<div class="col-md-6 col-md-offset-3 centerfy">
				<div class="">
					<img src="~/images/logo.png" class="img-responsive text-center" />
				</div>
			</div>
		</div>
	</div>
</div>

<ul class="row list-unstyled">
	@foreach (var item in Model)
	{
		<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
			<a asp-controller="Store" asp-action="Details" asp-route-id="@item.AlbumID">
				<img alt="@item.Title" src="@Url.Content("~/content/" + item.AlbumArtUrl)" height="125" width="125" />
				<h5>@item.Title</h5>
			</a>
		</li>
	}
</ul>
@*<ul class="row" id="album-list">
		@foreach (var album in Model)
		{
			<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
				<a asp-controller="Store" asp-action="Details" asp-route-id="@album.AlbumID">
					<img alt="@album.Title" src="@Url.Content("~/content/"+album.AlbumArtUrl)" height="125" width="125" />
					<h4>@album.Title</h4>
				</a>
			</li>
		}
	</ul>*@
